*.DS_Store

# Ignore docker created folders
data/databases/*
data/transactions/*
data/dbms/*
data/dumps/*

# Ignore VS Code created files
.vscode

# Ignore compiled python files
*.pyc

# React/Node
*/node_modules
*/yarn.lock

# Don't ignore
!.gitkeep